/* Login.css */
body {
  font-family: Arial, sans-serif;
}

.login-container {
  width: 400px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form .input-group {
  margin-bottom: 15px;
}

.login-form .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.login-form .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input {
  margin-right: 10px;
}

.submit-button {
  width: 100%;
  background-color: #555555;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #000;
}

.payment-button {
  width: 100%;
  background-color: #555555;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.payment-button:hover {
  background-color: #000;
}

.help-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.help-links a {
  text-decoration: none;
  font-size: 14px;
  color: #007bff;
}

.help-links a:hover {
  text-decoration: underline;
}

.guest-order-button {
  width: 100%;
  margin-top: 20px;
  background-color: #6c757d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.guest-order-button:hover {
  background-color: #5a6268;
}

.optional-button {
  width: 100%;
  background-color: #cccccc;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.optional-button:hover {
  background-color: #999999;
}

.logout-button {
  width: 100%;
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.logout-button:hover {
  background-color: #cc0000;
}
